<?xml version="1.0"?>
<configuration>
	<appSettings>  
		<add key="ConnectionString" value="server=47.88.0.200;database=bui_test;uid=root;pwd=WuKong@12345"/>
    <!--<add key="ConnectionString" value="server=127.0.0.1;database=wukong;uid=root;pwd=123456"/>-->
	</appSettings>
	<system.web> 
    <sessionState mode="InProc" timeout="1" ></sessionState>
		<httpRuntime requestValidationMode="2.0" executionTimeout="3600" maxRequestLength="1048576"/>
		<compilation debug="true" targetFramework="4.0"></compilation>
		<customErrors mode="Off"/>
		<identity impersonate="true"/>
		<authentication mode="Forms">
			<forms name="forums" path="/" loginUrl="Login.aspx" protection="All" timeout="40">
			</forms>
		</authentication> 
		<pages validateRequest="false" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
</system.web>
</configuration>
